/out
/node_modules
/target
/dist/classpath
/dist/linux
/dist/mac
/dist/windows
/jdks

/dependency-reduced-pom.xml
/classpath.txt
/test-classpath.txt
/docpath.txt

*.log
*.log.*
.idea
*.iml
*.vsix
.DS_store