.circleci/**
.vscode/**
.idea/**
git_hooks/**
images/**
jdks/**
lib/**
!lib/java.tmLanguage.json
!lib/tree-sitter-java.wasm
scripts/**
src/**
out/test/**
target/**

*.iml
tsconfig.json
tsd.json
*.xml
configure
.gitignore
**/*.map
